/* reset css */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* reset css ends here */
:root {
  --primary-background: #F8F8FA;
  --secondary-grey: #dfe4e9;
  --text-grey: #808184;
  --online-green:#48DF0B;
  --user-background: #B06E0C;
}
body {
  background-color: var(--primary-background);
  font-size: 16px;
}
.container {
  width: 100%;
  margin: 0 auto;
  @media(max-width:992px) {
    padding: 0 15px;
  }
}
@media (min-width: 576pc) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.column-wrapper {
  display: flex;
  @media (max-width: 992px) {
    display: block;
  }
}